<!DOCTYPE html>
<html lang="he" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StudyShare HomePage</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <%- include('partials/navbar') %>

    <main>
        <h1> 专   - StudyShare!</h1>
        <div id="media_txt">
            <section>
                <p> <b>StudyShare - 拽 拽转 砖</b>
               拽 砖 住 注专 住 爪.<br>
                 <b>砖转驻 转 专 砖</b> - 
                    住 砖砖拽注转  注专 专!<br>
                 <b>转  转</b> 
                 <b> 住 砖 专 -</b> 
                     专   转 转 注 注专 拽专住 砖.<br>
            </section>

<div class="video-container">
  <video controls>
    <source src="images/tqvpt-mbkhnym-1080-publer.io.mp4" type="video/mp4">
    驻驻 砖  转  .
  </video>
</div>
        </div>

        <section id="sidebyside">
            <section class="mainsection">
                <h1>住</h1>
                <article>
                    <a href="/summaries_view">
                        <h2>专 住 驻 住转 拽专住</h2>
                        <p>祝  转爪 住 住专 驻 住转 , 拽专住, 专爪 住住专. </p>
                        <p><br><b>注专 住 爪  &rarr;</b></p>
                    </a>
                </article>
            </section>

            <section class="mainsection">
                <h1>住拽专转 注专转</h1>
                <article>
                    <a href="/system_reviews"> 
                        <h2> 住 砖 注     AI  转?</h2>
                        <p>住拽专转 转 注转 注 注专转  Moodle, Zoom, Canvas, Zotero 注.  注 砖 住.</p>
                        <p><br><b>注专 住拽专转 爪  &rarr;</b></p>
                    </a>
                </article>
            </section>

            <section class="mainsection">
                <h1>砖转 转砖转</h1>
                <article>
                    <a href="/search_questions">
                        <h2>专 砖转  转专</h2>
                        <p>转 砖转 转转  拽 注 驻转专转. 转 驻砖 驻 拽专住, 专爪  住.</p>
                        <p><br><b>专 砖转 爪  &rarr;</b></p>
                    </a>
                </article>
            </section>

            <section class="mainsection">
                <h1>转 转专</h1>
                <article>
                    <a href="/aboutus">
                         <h2>StudyShare ?</h2>
                        <p>专爪 转专 转专? 住 转转专砖  砖 转专.</p>
                        <p><br><b>注 住祝 爪  &rarr;</b></p>
                    </a>
                </article>
            </section>

        </section>
    </main>

                <%- include('partials/footer') %>


</body>
</html>
