<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/forms.css">
        <link rel="stylesheet" href="/css/buttons.css">
    </head>
    <body>
        <%- include('../partials/navbar') %>
        
        <h1>הוספת סיכום למאגר</h1>
        <form class="input_form" id="summary_form" method="post" action="/saveSummary" enctype="multipart/form-data">
            <p>מלא את הפרטים הבאים:</p>
            
            <p>
                <label for="summary_name">כותרת</label>
                <input type="text" name="summary_name" placeholder="שם הסיכום" required>
            </p>
            
            <p>
                <label for="author_name">כותב הסיכום</label>
                <input type="text" name="author_name" placeholder="שם הכותב" required>
            </p>
            
            <p>
                <label for="education_institute">מוסד לימודים</label>
                <select name="education_institute" required>
                    <option value="">בחר מוסד לימודים</option>
                    <option value="האוניברסיטה הפתוחה">האוניברסיטה הפתוחה</option>
                    <option value="אוניברסיטת תל אביב">אוניברסיטת תל אביב</option>
                    <option value="הטכניון">הטכניון</option>
                    <option value="אוניברסיטת חיפה">אוניברסיטת חיפה</option>
                    <option value="אוניברסיטת בר אילן">אוניברסיטת בר אילן</option>
                    <option value="אוניברסיטת בן גוריון">אוניברסיטת בן גוריון</option>
                    <option value="המרכז הבינתחומי">המרכז הבינתחומי</option>
                    <option value="מכללת תל אביב יפו">מכללת תל אביב יפו</option>
                    <option value="מכללת ספיר">מכללת ספיר</option>
                </select>
            </p>
            
            <p>
                <label for="education_year">שנת לימוד</label>
                <input type="text" name="education_year" placeholder="לדוגמא: 2025" required>
            </p>
            
            <p>
                <label for="semester">סמסטר</label>
                <input type="text" name="semester" placeholder="א או ב או קיץ" required>
            </p>

            <p>
                <label for="file_attach">קובץ סיכום (.txt)</label>
                <input type="file" id="file_attach" name="file_attach" required>
            </p>
            
            <p><input class="btn-primary" type="submit" value="שלח"></p>
        </form> 

        <%- include('../partials/footer') %>
        <script src="/JS/summaries.js"></script>
    </body>
</html>
